<%= form_with(model: poll, class: "contents") do |form| %>
  <% if poll.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(poll.errors.count, "error") %> prohibited this poll from being saved:</h2>

      <ul>
        <% poll.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="flex mt-3">
    <%= form.text_field :title, class: "block shadow rounded-md border border-gray-200 outline-none mr-1 w-full" %>
    <%= form.submit poll.id ? "Update title" : "Create poll", class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
<% if poll.id %>
  <div class="my-5">
    <div class="items-center mb-2">
      <%= render partial: 'polls/options', collection: poll.options, as: :option %>
    </div>
  </div>

  <div class="mb-5">
    <%= render "options/new", poll: poll %>
  </div>
<% end %>
