<div id="<%= dom_id poll %>" class='p-10 shadow-lg rounded-md w-full h-full'>
  <h1 class="block text-4xl font-bold text-gray-700">
    <%= poll.title %>
  </h1>
  <div id='poll_<%= poll.id %>_options' class='items-center mt-8 space-y-10'>
    <%= render poll.options %>
  </div>
  <div class='mt-8 space-x-2'>
    <%= link_to "Show this poll", poll_visualization_path(poll), class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this poll', edit_poll_path(poll), class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
</div>
